.roundImg {
    border-radius: 50%;
}

.id {
    font-weight: bold;
}

div.feedBoard {
    flex: 6.5;
    width: 75%;
    float: right;
    padding-top: 70px;
    padding-right: 150px;
    margin-bottom: -50px;
}

.feed {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 1%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.feed:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.newPost {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.newPost .postImage img {
    width: 45px;
    height: 45px;
}

.newPost .postId {
    flex: 18;
    margin-left: 10px;
}

.newPost button {
    flex: 1;
    font-size: 0;
    text-align: right;
}

.feedImg img {
    width: 100%;
}

.interactions {
    display: flex;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding: 0 20px;
    gap: 10px;
}

.interactions .like:hover {
    /*margin: 0 10px;*/
    color: red;
    cursor: pointer;
}

.feedImg p {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.feedText {
    padding: 0 20px;
    padding-bottom: 20px;
}
.comments {
    padding: 0 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: rgba(100, 149, 237, 0.4) solid 1px;
    border-radius: 10px;
}

.comment {
    height: 40px;
    gap: 10px;
}

.comment th, td {
    border-bottom: 1px solid rgba(100, 149, 237, 0.4);
    padding: 5px;
}

.commentBox {
    border: none;
    padding: 5px 50px;
    margin-left: 120px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(197, 197, 197);
    margin-bottom: 10px;
    margin-top: 10px;
}

.commentSubmit {
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    background-color: cornflowerblue;
    color: white;
}

.commentSubmit:hover {
    background-color: #bcd3ff;
    color: black;
    cursor: pointer;
}

.commentIndate {
    color: gray;
    font-size: 50%;
}

.indate {
    color: gray;
    font-size: 50%;
}

.comment td {
    width: 100px;
}

.comment th {
    width: 100px;
}

.comment .commentText {
    width: 500px;
}

.delete {
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    background-color: cornflowerblue;
    color: white;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.delete:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modify {
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    background-color: cornflowerblue;
    color: white;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.modify:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.deleteComment {
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    background-color: cornflowerblue;
    color: white;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.deleteComment:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.delmod {
    padding: 0 20px;
}