#navSide {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(100, 149, 237);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    line-height: 60px;
    z-index: 1;
}

#navSide ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 10px;
}

#navSide ul li {
    width: 100%;
    padding: 10px 10%;
}

#navSide ul li a {
    color: #eee;
}

.mypic img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.mypic {
    position: fixed;
    display: flex;
    align-items: center;
    left: 8px;
    bottom: 10px;
    cursor: pointer;
    object-fit:cover;
    z-index: 2;
}

.mypic a {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    background-color: #f9f9f9;
    border: solid silver 1px;
    min-width: 100px;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: 10px;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 12px;
    padding: 0px 10px;
    height: 30px;
}

.dropdown-content a:hover {
    background-color: #ececec;
    border-radius: 10px;
}

.mypic:hover .dropdown-content {
    display: block;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: -4px;
}