div.feedBoard {
    flex: 6.5;
    width: 80%;
    float: right;
    padding-top: 70px;
    padding-right: 100px;
    margin-bottom: -50px;
    text-align: center;
}

.feed {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.feed:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input[type=text] {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

input[type=file]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    border: 1px solid cornflowerblue;
}

textarea {
    width: 850px;
    height: 100px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    resize: none;
}

.option {
    padding-top: 30px;
}

.textArea {
    padding-top: 30px;
    padding-bottom: 20px;
}

#textSubmit {
    border: none;
    padding: 5px 250px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    background-color: white;
    color: cornflowerblue;
    cursor: pointer;
}

.submitBtn {
    padding-bottom: 20px;
}

select {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
}

select:hover {
    border: 1px solid cornflowerblue;
}