#profilebox {
    display: block;
    width: 350px;
    height: 460px;
    position: absolute;
    left: 23%;
    bottom: 30%;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#profilebox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.field {

    margin-top: 20px;
}

#newid {
    width: 300px;
    height: 40px;
    font-size: 15px;
    border: 0.1px;
    border-color: rgb(233, 233, 233, 0.1);
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    margin-top: 50px;
    margin-left: 70px;
    font-family: apple Black;
}

@font-face {
    font-family: apple black;
    src: url(AppleSDGothicNeoB.ttf);
}

#userbox {
    display: block;
    width: 450px;
    height: 460px;
    position: absolute;
    left: 52%;
    bottom: 30%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#userbox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.infor {
    margin-left: 50px;
    font-family: apple Black;
}

h3 {
    margin-left: 20px;
}

.te {
    width: 350px;
    height: 40px;
    font-size: 15px;
    border: 0.1px;
    border-color: rgb(233, 233, 233, 0.7);
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-top: 5px;
    font-family: apple Black;
}

.te:hover {
    border: 0.2px solid;
}

.tex {
    width: 270px;
    height: 40px;
    font-size: 15px;
    border: 0.1px;
    /* border-color: rgba(20, 19, 19, 0.1); */
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-top: 10px;
    font-family: apple Black;
    /*display: flex;*/
}

.tex:hover {
    border: 0.2px solid;
}
#fled{
    margin-right: 10px;
}


.pro_pic {
    margin: 0 auto;
    margin-left: 86px;
    border: 0.5px solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit:cover;
}

#pro_id {
    margin-left: 150px;

    font-family: apple Black;

}
#upload{
    text-align: center;
    font-family: apple Black;
    width: 45px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
}
#upload:hover{
    border: 1px solid cornflowerblue;
}
input[type=file]::file-selector-button {
    font-family: apple Black;
    width: 70px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 220px;
}

input[type=file]::file-selector-button:hover {
    border: 1px solid cornflowerblue;
}

#probtn {
    font-family: apple Black;
    width: 280px;
    height: 40px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40px;
}
#probtn:hover{
    border: 1px solid cornflowerblue;
}




#userbtn {
    font-family: apple Black;
    width: 70px;
    height: 40px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 45px;
}
#userbtn:hover{
    border: 1px solid cornflowerblue;
}


#errmsg {
    margin-left: 15px;
}