<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/css/snsjoin.css">

<body>
<form action="joinsave" method="post" onsubmit="return chk()">
    <div id="Joinbox">
        <div id="logo">
            <h1>로고</h1>
        </div>
        <div class="field">
            <label class="infor">아이디<span style="color:rgb(160, 49, 49);" class="star">*</span></label>
            <input type="text" id="newid" class="teid" name="id" placeholder="아이디" required>
            <button id="idbtn" >중복확인</button>
        </div>
        <div class="field">
            <label class="infor">비밀번호<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
            <input type="password" id="newpw" class="te" name="pw" placeholder="비밀번호" pattern="[A-Za-z0-9]{8,16}"
                   title="8~16자의 비밀번호를 입력해주세요(특수문자,한글x)" required>
        </div>
        <div class="field">
            <label class="infor">비밀번호 확인<span id="errmsg"></span></label> <br>
            <input type="password" id="conpw" class="te" placeholder="비밀번호 확인" maxlength="16" required>
        </div>
        <div class="field">
            <label class="infor">이름<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
            <input type="text" class="te" id="newname" name="name" placeholder="이름" required>
        </div>
        <div class="info" id="info__birth">
            <label class="infor">생년월일<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
            <div class="bibox">
                <select class="box" id="birth-year" name="year">
                    <option disabled selected>출생 연도</option>
                </select>
                <select class="box" id="birth-month" name="month">
                    <option disabled selected>월</option>
                </select>
                <select class="box" id="birth-day" name="day">
                    <option disabled selected>일</option>
                </select>
            </div>
        </div>

        <label class="infor">이메일<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
        <div id="email">
            <input type="text" id="nowmail" placeholder="이메일 입력" class="emailbox" required>@
            <input type="text" id="domain-txt" class="emailbox" required>
            <select class="emailbox" id="domain-list">
                <option value="type">직접 입력</option>
                <option value="naver.com">naver.com</option>
                <option value="google.com">google.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="nate.com">nate.com</option>
                <option value="kakao.com">kakao.com</option>
            </select>
        </div>

        <div id="cernumber">
            <input type="text" placeholder="인증번호입력 " class="emailbox3" name="number" id="number">
            <input type="button" value="인증번호 전송" class="emailbox2"  id="sendBtn" name="sendBtn" onclick="sendNumber()">
            <input type="button" value="인증번호 확인" class="emailbox2"  id="confirmBtn" name="confirmBtn" onclick="confirmNumber()">
        </div>
        <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
        <div><input type="submit" value="Join" class="join"></div>


        <div id="loglink">
            <span>계정이 있으신가요? <a href="login" id="links">로그인하러가기</a></span>

        </div>

    </div>

</form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>


    function sendNumber(){
        let inputmail = $('#domain-txt').val();
        let nowmail = $('#nowmail').val();
        let fullmail = nowmail+"@"+inputmail;
        console.log(fullmail)
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"mail":fullmail},
            success: function (data){
                alert("인증번호가 발송되었습니다");
                $("#Confirm").attr("value",data);
            }
        });
    }

    function confirmNumber(){
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 == number2){
            alert("인증되었습니다.");
        }else{
            alert("인증번호가 다릅니다 다시입력해주세요.");
        }
    }
    const domainListEl = document.querySelector('#domain-list');//id 선택자 이용해서 변수에 저장
    const domainInputEl = document.querySelector('#domain-txt');
    domainListEl.addEventListener('change', (event) => {
        // option에 있는 도메인 선택 시
        if (event.target.value !== "type") {
            domainInputEl.value = event.target.value
            domainInputEl.disabled = true
        } else { //
            domainInputEl.value = ""
            domainInputEl.disabled = false
        }
    })



    // 출생 연도 셀렉트 박스 option 목록 동적 생성
    const birthYearEl = document.querySelector('#birth-year')//id 선택자 이용해서 변수에 저장
    const monthE1 = document.querySelector('#birth-month')
    const dayE1 = document.querySelector('#birth-day')
    let nowyear;//사용자가 선택한 year value 저장할 변수 선언
    let nowmonth;//사용자가 선택한 month value 저장할 변수 선언

    isYearOptionExisted = false;// 년도 option 목록 생성 여부 확인 boolean
    monthoptionexisted = false;// 월 option 목록 생성 여부 확인 boolean
    // dayopthionexisted = false;// 이거는 월 선택될떄마다 new Date()로 마지막 날짜 구한후 월 바뀔때마다 초기화시키고 for문으로 옵션 넣을거라 뻄


    birthYearEl.addEventListener('focus', function () {
        // 년 목록 생성되지 않았을 때 (최초 클릭 시)
        if (!isYearOptionExisted) {
            //boolean 값 변경해서 for문 안돌아가도록 막기
            isYearOptionExisted = true
            for (var i = 1940; i <= 2024; i++) {
                // option element 생성
                const YearOption = document.createElement('option')
                YearOption.setAttribute('value', i)
                YearOption.innerText = i + '년'
                // birthYearEl의 자식 요소로 추가
                this.appendChild(YearOption);
            }
        }
    });

    // 선택된 년도가 change 되었을떄 jquery 사용해서 nowyear 변수에 사용자가 선택한 값의 value 가져와서 저장
    $("select[name=year]").change(function () {
        nowyear = $("select[name=year] option:selected").val();
    });

    monthE1.addEventListener('focus', function () {
        if (!monthoptionexisted) {
            monthoptionexisted = true
            for (var i = 1; i <= 12; i++) {
                const monthOption = document.createElement('option')
                monthOption.setAttribute('value', i)
                monthOption.innerText = i + '월'
                this.appendChild(monthOption);
            }
        }
    });


    $("select[name=month]").change(function () {
        nowmonth = $("select[name=month] option:selected").val();
        const lastDay = new Date(nowyear, nowmonth, 0).getDate();//Date()로 년,월 입력해서 마지막 날짜 구한후 대입
        dayE1.addEventListener('focus', function () {
            $("select[name=day] option").remove();// 월이 바꼇을때 일  클릭하면 그전내용 초기화 한후 다시 반복문 돌려서 1월->31 2월->28 되도록 구현
            for (var i = 1; i <= lastDay; i++) {//2 월일경우 28일로 마지막 날짜 나오니까 반복문돌려서 옵션에 추가
                const dayOption = document.createElement('option')
                dayOption.setAttribute('value', i)
                dayOption.innerText = i + '일'
                this.appendChild(dayOption);
            }

        });
    });

    // 비밀번호 확인 유효성
    var newpw = document.getElementById('newpw');
    var conpw = document.getElementById('conpw');
    var errmsg = document.getElementById('errmsg');
    conpw.addEventListener('change', () => {
        if (newpw.value === conpw.value) {
            errmsg.style.color = "green";
            errmsg.textContent = "비밀번호가 일치합니다";
        } else {
            conpw.value = "";
            conpw.focus();
            errmsg.style.color = "red";
            errmsg.textContent = "비밀번호가 일치하지 않습니다";
        }
    })



</script>

</html>