<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="/css/snsjoin.css">
<style>

</style>
<body>
<form action="joinsave" method="post">
    <div id="Joinbox">

        <img src="/images/lolgo9.png" id="logo">

        <div class="field">
            <label class="infor">아이디<span style="color:rgb(160, 49, 49);" class="star">*</span><span id="idmsg"></span></label>
            <input type="text" id="newid" class="teid" name="id" placeholder="아이디" required>
            <button id="idbtn" onclick="chkid()">중복확인</button>
        </div>
        <div class="field">
            <label class="infor">비밀번호<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
            <input type="password" id="newpw" class="te" name="pw" placeholder="비밀번호" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{4,16}$" title="영문, 숫자, 특수기호 1개 이상 포함 조합 ,4자 글자 이상 16글자 이하">
        </div>
        <div class="field">
            <label class="infor">비밀번호 확인<span id="errmsg"></span></label> <br>
            <input type="password" id="conpw" class="te" placeholder="비밀번호 확인" minlength="4" maxlength="16">
        </div>
        <div class="field">
            <label class="infor">이름<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
            <input type="text" class="te" id="newname" name="name" placeholder="이름" required>
        </div>
        <div class="info" id="info__birth">
            <label class="infor">생년월일<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
            <input type="hidden" name="birth" value="" id="orginbirth">
            <div class="bibox">
                <select class="box" id="birth-year" name="year">
                    <option disabled selected>출생 연도</option>
                </select>
                <select class="box" id="birth-month" name="month">
                    <option disabled selected>월</option>
                </select>
                <select class="box" id="birth-day" name="day">
                    <option disabled selected>일</option>
                </select>
            </div>
        </div>

        <label class="infor">이메일<span style="color:rgb(160, 49, 49);" class="star">*</span></label><br>
        <div id="emailform">
            <input type="hidden" name="email" value="" id="orginmail">
            <input type="text" id="nowmail" placeholder="이메일 입력" class="emailbox" required>@
            <input type="text" id="domain-txt" class="emailbox" required>
            <select class="emailbox" id="domain-list">
                <option value="type">직접 입력</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="nate.com">nate.com</option>
                <option value="kakao.com">kakao.com</option>
            </select>
        </div>

        <div id="cernumber">
            <input type="text" placeholder="인증번호입력 " class="emailbox3" name="number" id="number">
            <input type="button" value="인증번호 전송" class="emailbox2" id="sendBtn" name="sendBtn" onclick="sendNumber()">
            <input type="button" value="인증번호 확인" class="emailbox2" id="confirmBtn" name="confirmBtn"
                   onclick="confirmNumber()">
        </div>
        <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
        <div><input type="submit" value="Join" class="join" onclick="return sum()"></div>


        <div id="loglink">
            <span>계정이 있으신가요? <a href="login" id="links">로그인하러가기</a></span>
        </div>

    </div>
</form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/join.js"></script>

<script>


    $("#sendBtn").click(function () {
        let click = $(this);// 이 버튼이 클릭 되면
        click.css("display", "none");// 안보이게
        setTimeout(function () {
            click.css("display", "");// 4초 뒤에 보이게
        }, 4000);
    })

</script>
</html>