<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/snslogin.css">
<body>

    <div id="Loginbox">
<!--        <h1>로고</h1>-->
        <img src="/images/WaveLogo2.png" id="logo">
        <form action="loginsave" method="post">
         <div><input type="text" placeholder="ID" name="id" id="newid"></div>
         <div><input type="password" placeholder=Password name="pw" id="newpw"></div>
         <div><input type="submit" value="Log in" class="btn"></div>
                <input type="hidden" name="msge" th:value ="${mesg}">

        <div><a href="join"><input type="button" value="Join" class="join"></a></div>
        </form>
    </div>


</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>

</html>