<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/snslogin.css">

<body>
<form>
    <div id="Loginbox">
        <h1>로고</h1>
        <div><input type="text" placeholder="ID"></div>
        <div><input type="password" placeholder=Password></div>
        <div><input type="submit" value="Log in" class="btn"></div>
        <div><a href="join"><input type="button" value="Join" class="join"></a></div>

    </div>
</form>

</div>
</body>

</html>