<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main_navTop.css">
    <link rel="stylesheet" href="/css/main_navSide.css">
    <link rel="stylesheet" href="/css/profile.css">


</head>

<style>
    * {
        padding: 0;
        margin: 0;
        font-family: apple black;
        text-decoration-line: none;
    }

    body {
        background-image: url("/images/background.jpg");
    }



</style>

<body>
<nav id="navSide">
    <ul>
        <li>
            <a href="main">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path
                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-map-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.5.5 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.5.5 0 0 0-.196 0zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1z"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="chatList">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                    <path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-file-play-fill" viewBox="0 0 16 16">
                    <path
                            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M6 5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43V5.884z"/>
                </svg>
            </a>
        </li>
    </ul>
</nav>
<div class="mypic" style="z-index: 3">
    <div class="dropdown-content">
        <th:block th:if="${session.userid!=null}">
            <a th:href="@{/profile}">프로필(<span th:text="${session.userid}" ></span>)</a>
        </th:block>
        <a href="logout">로그아웃</a>
    </div>
    <a href="#">
        <th:block th:if="${profiledetail.u_pic!=null}">
            <img th:src="@{/download(filename=${profiledetail2.u_pic})}">
        </th:block>
    </a>
</div>

<!--상단 네비-->
<nav id="navTop">
    <a href="main">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
             class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
            <path
                    d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375z"/>
            <path
                    d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396z"/>
        </svg>
    </a>
    <ul>
        <form>
            <li><input type="search" placeholder="검색" class="search"></li>
            <li><input type="submit" value="검색" class="submit"></li>
        </form>
    </ul>
</nav>

<div id="profilebox">
    <div class="profile">

        <div class="profile-image">

            <th:block th:if="${profiledetail.u_pic!=null}">
                <img th:src="@{/download(filename=${profiledetail.u_pic})}">
            </th:block>
        </div>

        <div class="profile-user-settings">
            <th:block th:if="${session.userid==mainsuser}"> <b><span th:text="${session.userid}" id="mainuser" style="font-style:italic;"></span></b>
            </th:block>
            <th:block th:unless="${session.userid==mainsuser}"> <b><span th:text="${otheruser}" id="otheruser" style="font-style:italic;"></span></b>
            </th:block>

           <th:block th:if="${session.userid==mainsuser}">

                <button class="editbtn" th:onclick="|location.href='@{/proupdate}'|">편집</button>
                    <button class="editbtn" th:onclick="|location.href='@{/withdrawform}'|">탈퇴</button>
               <input type="hidden" th:value="${mainsuser}" id="myid">
               <input type="hidden" th:value="${session.userid}" id="seid">
            </th:block>
            <input type="hidden" th:value="${otheruser}" id="otherid">
        </div>
        <div class="profile-stats">
<!--            <h4 id="postcnts"></h4>-->
            <ul>
                <li class="stat"> 게시물  <span class="profile-stat-count" id="postcnts"></span></li>
                <li class="stat"> 쇼츠  <span class="profile-stat-count" id="shortcnts"></span></li>
<!--                <li class="stat"><span class="profile-stat-count">숫자</span> 팔로우</li>-->
<!--                <li class="stat"><span class="profile-stat-count">숫자</span> 팔로워</li>-->
            </ul>

        </div>

        <div class="profile-bio">
            <th:block th:if="${profiledetail.u_intro!=null}">
            <p th:text ="${profiledetail.u_intro}"> </p>
            </th:block>
        </div>

    </div>
</div>
<div id="menubar">
    <span class="menu"><a href="#">게시글</a></span>
    <span class="menu"><a href="#">릴스</a></span>
</div>

<div id="profilemain">
    <div id="over">
        <table>
            <tr class="row row-cols-3">
                <td class="postList" th:each="postVOList:${postVOList}">
                    <a th:href="@{/detail(p_no=${postVOList.p_no}, p_id=${session.userid})}" class="detail">
                        <th:block th:if="${postVOList.pp_pic!=null}">
                            <div class="box">
                                <img class="inpic" th:src="@{/download(filename=${postVOList.pp_pic})}">
                            </div>
                        </th:block>
                        <th:block th:if="${postVOList.pp_pic==null}">
                            <div class="box2">
                                <span class="intext" th:text="${postVOList.p_text}"></span>
                            </div>
                        </th:block>
                    </a>
                </td>
            </tr>
        </table>

    </div>


</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$('document').ready(function (){
    let myid=$('#myid').val();//로그인 아이디
    let seid=$('#seid').val();// 세션에 저장된 로그인 아이디
    let other = $('#otherid').val();// 상대방 계정 아이디
    let postcnt = document.getElementById("postcnts")
    let shortcnt = document.getElementById("shortcnts")
    if(myid = seid) {
        $.ajax({//나의 게시물수 ajax 비동기방식 화면 로딩되었을시 실시간으로 숫자 변경 가능하도록
            url: "/postcnt",
            type: "post",
            data: {"myid": myid},
            dataType: "json",
            success: function (pcnt) {//컨트롤러 리턴값
                postcnt.innerText = pcnt;
            }
        });
        $.ajax({//나의 쇼츠 수 ajax 비동기방식 화면 로딩되었을시 실시간으로 숫자 변경 가능하도록
            url: "/shortcnt",
            type: "post",
            data: {"myid": myid},
            dataType: "json",
            success: function (scnt) {//컨트롤러 리턴값
                console.log(scnt);
                shortcnt.innerText = scnt;
            }
        });
    }else {
        $.ajax({//상대방 게시물수 ajax 비동기방식 화면 로딩되었을시 실시간으로 숫자 변경 가능하도록
            url: "/otherpostcnt",
            type: "post",
            data: {"otherid": other},
            dataType: "json",
            success: function (pcnt) {//컨트롤러 리턴값

                postcnt.innerText = pcnt;
            }
        });
        $.ajax({//상대방 쇼츠 수 ajax 비동기방식 화면 로딩되었을시 실시간으로 숫자 변경 가능하도록
            url: "/othershortcnt",
            type: "post",
            data: {"otherid": other},
            dataType: "json",
            success: function (scnt) {//컨트롤러 리턴값
                console.log(scnt);
                shortcnt.innerText = scnt;
            }
        });
    }
});


</script>

</html>