
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/snslogin.css">

<body>

<div id="Loginbox">
    <h1>회원정보</h1>
    <th:block th:if="${session.userid!=null}">
    <span>아이디:</span><span th:text = "${session.userid}"></span>
    </th:block>
    <span><a href="logout"> 로그아웃</a></span>
</div>


</div>
</body>

</html>