<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartwave.tripsns.dao.IF_SNSDAO">
    <insert id="posting" parameterType="com.smartwave.tripsns.vo.PostVO"> <!-- 게시글 저장 -->
        insert into post values (nextval(p_cnt),#{p_id}, #{p_place}, #{p_text}, default)
    </insert>
    <insert id="postSaveAttach" parameterType="String"> <!-- 게시글 사진파일 저장 -->
        insert into postPic values ((select max (p_no) from post), #{filename})
    </insert>
    <select id="postSelectAll" resultType="com.smartwave.tripsns.vo.PostVO"><!-- 게시글 전부 불러오기 -->
        select *
        from post
        order by p_indate desc;
    </select>
    <select id="postSelectOne" resultType="com.smartwave.tripsns.vo.PostVO"><!-- 게시글 하나 불러오기 -->
        select *
        from post
        where p_no = #{p_no}
    </select>
    <select id="getFile" resultType="String"><!--사진파일 불러오기 -->
        select pp_pic
        from postPic
        where pp_no = #{pp_no}
    </select>
    <insert id="commentSave" parameterType="com.smartwave.tripsns.vo.PostCommentVO"><!--댓글 등록하기-->
        insert into postComment
        values (#{pc_no}, #{pc_text}, #{pc_id}, default)
    </insert>
    <select id="commentList" resultType="com.smartwave.tripsns.vo.PostCommentVO"><!--댓글 가져오기-->
        select *
        from postComment
        where pc_no = #{p_no}
    </select>
    <insert id="postLike" parameterType="com.smartwave.tripsns.vo.PostVO"><!--좋아요 정보 저장-->
        insert into postLike
        values (#{p_no}, #{p_id})
    </insert>
    <delete id="postLikeDel" parameterType="com.smartwave.tripsns.vo.PostVO"><!--좋아요 삭제-->
        delete
        from postLike
        where pl_id = #{p_id}
    </delete>
    <select id="postLikeCnt" resultType="int"><!--게시글 좋아요 갯수-->
        select count(*)
        from postLike
        where pl_no = #{p_no}
    </select>
    <select id="postLikeChk" resultType="int"><!--좋아요 체크-->
        select count(*)
        from postLike
        where pl_id = #{p_id}
          and pl_no = #{p_no}
    </select>
    <delete id="postDelete" parameterType="com.smartwave.tripsns.vo.PostVO"><!--게시글 삭제-->
        delete
        from post
        where p_no = #{p_no}
    </delete>
    <update id="postModify" parameterType="com.smartwave.tripsns.vo.PostVO"><!--게시글 수정-->
        update post
        set p_place = #{p_place},
            p_text  = #{p_text}
        where p_no = #{p_no}
    </update>
    <delete id="postCommentDelete" parameterType="com.smartwave.tripsns.vo.PostCommentVO"><!--댓글 삭제-->
        delete
        from postComment
        where pc_text = #{pc_text}
    </delete>
    <select id="postSelectNo" resultType="String">
        select p_no
        from post;
    </select>
    <select id="postCommentCnt" resultType="int">
        select count(*)
        from postComment
        where pc_no = #{p_no}
    </select>
    <select id="postSelectPost" resultType="com.smartwave.tripsns.vo.PostVO">
        select *
        from post p
                 inner join postpic pp on p.p_no = pp.pp_no
        order by p_indate desc;
    </select>
    <insert id="videoInsert" parameterType="com.smartwave.tripsns.vo.VideoVO"> <!-- 쇼츠 동영상 저장 -->
        insert into short_video values ((nextval(video_seq)),#{videoAddr},#{thumbnail})
    </insert>
    <select id="videoSelect" resultType="int"><!--저장한 동영상 번호 가져오기-->
        select max(s_vno)
        from short_video
    </select>
    <insert id="insertShort" parameterType="com.smartwave.tripsns.vo.ShortVO">
        insert into short_form values ((nextval(short_seq)),#{videoNo},#{id},default,#{description},#{place})
    </insert>
</mapper>