<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.smartwave.tripsns.dao.IF_UserDAO">
    <!--회원가입-->
    <insert id="userinsert" parameterType="com.smartwave.tripsns.vo.UserVO">
        insert into user values (#{id},#{pw},#{name},#{birth},#{email})
    </insert>
    <select id="idchk" parameterType="String" resultType="int">
        select count(id) from user where id =#{id}
    </select>

    <!--로그인-->
    <select id="selectid" parameterType="String" resultType="com.smartwave.tripsns.vo.UserVO">
        select * from user where id = #{id}
    </select>


  <!--프로필-->
    <update id="proupdate" parameterType="com.smartwave.tripsns.vo.UserVO">
        update user set name=#{name},pw=#{pw},email=#{email} where id = #{id}
    </update>
    <!--프로필 기본정보 회원가입시 한줄소개멘트랑 기본사진 보내서 db 저장하도록함-->
    <insert id="userprofile"  parameterType="com.smartwave.tripsns.vo.UserVO">
        insert into profile values (#{id},"한줄소개를 입력해주세요","userPic.jpg")
    </insert>
    <!--한줄소개멘트랑 기본사진 db 로부터 get-->
    <select id="getprofile" parameterType="String" resultType="com.smartwave.tripsns.vo.ProfileVO">
        select * from profile where id = #{u_id}
    </select>

    <update id="profileupdate" parameterType="com.smartwave.tripsns.vo.ProfileVO">
        update profile set u_intro =#{u_intro},u_pic=#{filename} where id = #{u_id}
    </update>
    <update id="introupdate" parameterType="com.smartwave.tripsns.vo.ProfileVO">
        update profile set u_intro =#{u_intro} where id = #{u_id}
    </update>

    <!--회원탈퇴시 필요한 pw get-->
    <select id="getpw" parameterType="String" resultType="String">
        select pw from user where id = #{u_id}
    </select>
   <!--회원탈퇴시 user delete  CASCADE 설정해서 부모테이블인 user 테이블 delete 될떄 자식테이블 매치되는 post 등 테이블 에도 delete 적용시킴  -->
    <delete id="userdelete" parameterType="String">
        delete from user where id = #{id};
    </delete>
    <!--게시물수 get-->
    <select id="postcnt" parameterType="String" resultType="int">
        select count(p_no) from post where p_id = #{id};
    </select>
    <!--쇼츠수 get-->
    <select id="shortcnt" parameterType="String" resultType="int">
        select count(s_no) from short_form where s_id = #{id};
    </select>
    <!--관리자로그인-->
    <select id="getadmin" parameterType="String" resultType="com.smartwave.tripsns.vo.AdminVO">
        select * from admin where admin_id = #{id}
    </select>

</mapper>